.docs-markdown-com {
  margin-bottom: 24px;
  padding: 30px;
  background: #ffffff;
  min-width: 600px;
  padding-right: 400px;
}
.docs-markdown-com p {
  color: #34495e;
  font-size: 15px;
  line-height: 26px;
}
.docs-markdown-com a {
  cursor: pointer;
  color: #2525f2;
}
.docs-markdown-com h1,
.docs-markdown-com h2,
.docs-markdown-com h3 {
  color: #323233;
}
.docs-markdown-com h1 {
  margin: 0 0 30px;
  font-size: 30px;
  cursor: default;
  font-weight: normal;
}
.docs-markdown-com h3 {
  margin-top: 16px;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 16px;
}
.docs-markdown-com h2 {
  margin-top: 30px;
  font-weight: 400;
  line-height: 1.5;
}
.docs-markdown-com p {
  padding-bottom: 20px;
  padding-top: 20px;
}
.docs-markdown-com code {
  -webkit-font-smoothing: antialiased;
  background-color: #f7f8fa;
  border-radius: 4px;
  display: inline;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  margin: 0 2px;
  padding: 2px 5px;
  word-break: keep-all;
}
.docs-markdown-com code .hljs-bullet,
.docs-markdown-com code .hljs-deletion,
.docs-markdown-com code .hljs-link,
.docs-markdown-com code .hljs-literal,
.docs-markdown-com code .hljs-number,
.docs-markdown-com code .hljs-regexp,
.docs-markdown-com code .hljs-variable {
  color: #eb6f6f;
}
.docs-markdown-com pre {
  position: relative;
  display: block;
  padding: 16px;
  overflow-x: auto;
  color: #58727e;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
  line-height: 26px;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-font-smoothing: auto;
  background-color: #fafafa !important;
  border-radius: 16px;
  margin-bottom: 14px;
}
.docs-markdown-com pre code {
  word-wrap: break-word;
  -webkit-font-smoothing: auto;
  background-color: #f8f8f8;
  border-radius: 20px;
  color: #58727e;
  display: block;
  font-family: Source Code Pro,Monaco,Inconsolata,monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  overflow-x: auto;
  padding: 16px 20px !important;
  position: relative;
  white-space: pre-wrap;
}
.docs-markdown-com pre .hljs-attr,
.docs-markdown-com pre .hljs-built_in,
.docs-markdown-com pre .hljs-doctag,
.docs-markdown-com pre .hljs-name,
.docs-markdown-com pre .hljs-section,
.docs-markdown-com pre .hljs-selector-class,
.docs-markdown-com pre .hljs-selector-id,
.docs-markdown-com pre .hljs-selector-tag,
.docs-markdown-com pre .hljs-strong,
.docs-markdown-com pre .hljs-title,
.docs-markdown-com pre .hljs-type {
  color: #4994df;
}
.docs-markdown-com pre .hljs-addition,
.docs-markdown-com pre .hljs-meta,
.docs-markdown-com pre .hljs-string,
.docs-markdown-com pre .hljs-symbol,
.docs-markdown-com pre .hljs-template-tag,
.docs-markdown-com pre .hljs-template-variable {
  color: #4fc08d;
}
.docs-markdown-com table {
  margin-bottom: 24px;
  padding: 24px;
  width: 100%;
  margin-top: 12px;
  color: #34495e;
  font-size: 14px;
  line-height: 1.5;
  border-collapse: collapse;
  text-align: left;
}
.docs-markdown-com table th {
  padding: 12px 0;
  font-weight: 600;
  text-align: left;
}
.docs-markdown-com table:first-child {
  padding-left: 0;
}
.docs-markdown-com table tr td {
  font-size: 14px;
  font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
  font-style: normal;
  -webkit-font-smoothing: auto;
}
.docs-markdown-com table tr td {
  padding: 8px;
  font-style: normal !important;
  border-top: 1px solid #f1f4f8;
}
.docs-markdown-com table tr td code {
  -webkit-font-smoothing: antialiased;
  background-color: #f7f8fa;
  border-radius: 4px;
  display: inline;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  margin: 0 2px;
  padding: 2px 5px;
  word-break: keep-all;
  color: #58727e;
  line-height: 26px;
  position: relative;
  white-space: pre-wrap;
}
.docs-markdown-com table tr em {
  font-style: normal !important;
  color: #4fc08d;
}

.antmui-site-pageLayout-header {
  background: #001838;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  justify-content: space-between;
}
.antmui-site-pageLayout-header-left {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.antmui-site-pageLayout-logo {
  height: 34px;
}
.antmui-site-pageLayout-uiname {
  font-size: 24px;
  margin-left: 10px;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
.antmui-site-pageLayout-header-lan {
  margin-right: 20px;
  position: relative;
  display: block;
  padding: 0 12px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.antmui-site-pageLayout-body {
  display: flex;
}
.antmui-site-pageLayout-main {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 20px;
}
.antmui-site-pageLayout-menu {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  min-width: 220px;
  max-width: 220px;
  padding: 24px 10px;
  background-color: #ffffff;
  box-shadow: 0 8px 12px #ebedf0;
  min-height: 400px;
  padding-bottom: 200px;
  overflow-y: scroll;
}
.antmui-site-pageLayout-menu-class-title {
  padding: 8px 0 8px 24px;
  color: #455a64;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
}
.antmui-site-pageLayout-menu-item {
  display: block;
  margin: 8px 0;
  padding: 8px 0 8px 24px;
  color: #455a64;
  font-size: 14px;
  line-height: 20px;
  transition: color 0.2s;
}
.antmui-site-pageLayout-menu-item-active {
  font-weight: 600;
  background-color: #ebfff0;
  border-radius: 999px;
  color: #4fc08d;
}
.antmui-site-pageLayout-example {
  position: fixed;
  right: 40px;
  top: 100px;
  z-index: 99999;
  width: 325px;
  height: 540px;
  border: 1px solid #eeeeee;
  outline: none;
  background: #fafafa;
  border-radius: 20px;
  box-shadow: 0 8px 12px #ebedf0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  background: #f7f8fa;
}
.van-doc-card,
.van-doc-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

